/***
	====== Variables ======
***/
// Colors
$bg-color: #ffffff;
$deep-gray: #363f45;
$light-green: #009688;
$green: #4CAF50;
$primary-color-dark:   #0288D1;
$primary-color:        #03A9F4;
$primary-color-light:  #B3E5FC;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5252;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
// Font family
@import url('https://fonts.googleapis.com/css?family=Itim&subset=latin-ext');
$font-main:  'Itim', cursive;
//font sizes
$basic-size: 20px;
$h1-size: 2.5em;
$h2-size: 2em;
$h3-size: 1.75em;
//effects
@mixin transition($speed){
	transition: all $speed cubic-bezier(.25,.8,.25,1);
}
